/* @define-color textcolor #cba6f7; */
@define-color textcolor #74c7ec;
@define-color backgroundcolor rgba(30, 30, 46,0.9);

* {
  font-family: "Noto Sans", "JetBrainsMono Nerd Font";
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  border-radius: 12px;
  color: @textcolor;
}

#window {
  border-radius: 10000px;
  padding: 0 15px;
  margin: 0 10px;
  background: @backgroundcolor;
}

tooltip {
  border-radius: 12px;
  background: rgba(30, 30, 46, 0.95);
  color: #cdd6f4;
}

#workspaces button {
  /* padding: 4px; */
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: #313244;
  margin: 5px 5px 5px 0px;
  border-radius: 10000px;
}

#workspaces button:nth-child(1) {
  margin-left: 5px;
}

#workspaces {
  background-color: @backgroundcolor;
  border-radius: 10000px;
}

#workspaces button.active {
  color: @textcolor;
}

#workspaces button.focused {
  color: #a6adc8;
  background: @textcolor;
}

#workspaces button.urgent {
  background: rgba(249, 226, 175, 0.4);
  color: #f9e2af;
}

#workspaces button:hover {
  color: #89dceb;
}

#clock {
  border-top-right-radius: 10000px;
  border-bottom-right-radius: 10000px;
  margin-right: 10px;
  padding-right: 15px;
}

.modules-right > *:nth-child(5) > * {
  background-color: #1e1e2e;
  border-top-left-radius: 10000px;
  border-bottom-left-radius: 10000px;
  padding-left: 15px;
  margin-left: 10px;
}

#tray,
#clock,
#pulseaudio,
#bluetooth,
#network,
#custom-brightness {
  background-color: @backgroundcolor;
  padding-right: 20px;
}

#custom-spotify-title,
#custom-spotify-prev,
#custom-spotify-next,
#custom-spotify-toggle {
  padding: 0 10px;
  background-color: #f5c2e7;
  color: #1e1e2e;
}

#custom-spotify-prev {
  padding: 0 16px 0 10px;
}

#custom-spotify-title {
  padding-left: 15px;
  border-top-left-radius: 10000px;
  border-bottom-left-radius: 10000px;
  background-image: linear-gradient(55deg, #cba6f7 5%, #f5c2e7 95%);
}

#custom-spotify-next {
  padding-right: 22px;
  border-top-right-radius: 10000px;
  border-bottom-right-radius: 10000px;
}

#custom-power_btn {
  border-radius: 10000px;
  padding-left: 12px;
  padding-right: 16px;
  margin-right: 2px;
  background-color: @backgroundcolor;
}

#custom-power_btn:hover {
  background-color: rgba(46, 46, 78, 0.9);
}

#taskbar {
  border-radius: 10000px;
  margin-left: 10px;
  background-color: @backgroundcolor;
}

#taskbar button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: #313244;
  margin: 5px 5px 5px 0px;
  border-radius: 10000px;
}

#taskbar button:nth-child(1) {
  margin-left: 5px;
}

#taskbar button.active {
  background-color: #414559;
}

#taskbar button:hover {
  background-color: #414559;
}

/* #pulseaudio-slider slider {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  box-shadow: 0 0 3 1px black;
  background-color: @textcolor;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: #45475a;
  color: red;
}
#pulseaudio-slider highlight {
  border-radius: 5px;
  background-color: red;
  color: red;
}
#pulseaudio-slider {
  min-width: 100px;
} */

#cava {
  background-color: @backgroundcolor;
  border-radius: 10000px;
  padding: 0 10px 0 18px;
  margin: 0px 10;
}
