@define-color bgcolor #cba6f7;

window {
    border-radius: 12px;
    margin: 2px;
    border: 3px solid @bgcolor;
    background-color: @bgcolor;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    background-color: #1e1e2e;
    outline: none;
    color: @bgcolor;
}

#inner-box {
    
    margin: 8px;
    /* border-radius: 4px; */
    border: 10px solid #1e1e2e;
    /* background-color: #1e1e2e; */
    background-color: red;
    border-radius: 12px;
}

#outer-box {
    margin: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text:selected {
    color: #1e1e2e;
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 12px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: @bgcolor;
}
