/* @define-color bgcolor #cba6f7; */
@define-color textcolor #74c7ec;
@define-color backgroundcolor #1e1e2e;
@define-color text  #cdd6f4;

* {
  font-family: "JetbrainsMono Nerd Font", monospace;
  font-size: 14px;
}

window {
  border-radius: 12px;
  margin: 2px;
  opacity: 0.9;
  background-color: @backgroundcolor;
  border: 2px solid @textcolor;
}

#input {
  border: none;
  background-color: #1e1e2e;
  color: @bgcolor;
}

#input image {
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  border: none;
  background-color: #1e1e2e;
  outline: none;
  color: @text;
}

#inner-box {
  margin-top: 8px;
  border-radius: 8px;
  /* border: 10px solid #1e1e2e; */
  /* background-color: #1e1e2e; */
  /* border-radius: 12px; */
  font-size: 14px;
  font: "JetBrainsMono Nerd Font";
}

#outer-box {
  margin: 2px;
  padding: 8px;
  border-radius: 12px;
  background-color: #1e1e2e;
}

#scroll {
  margin: 0px;
  border: none;
}

#text:selected {
  color: #1e1e2e;
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  opacity: 1;
}

#entry {
  border: none;
  border-radius: 8px;
  padding: 4px;
  margin: 4px 0px;
  background-color: transparent;
}

#entry image {
  margin-right: 10px;
}

#entry:selected {
  opacity: 1;
  color: @backgroundcolor;
  background-color: @textcolor;
  outline: none;
}
