/* @define-color bgcolor #cba6f7; */
@define-color textcolor #74c7ec;
@define-color backgroundcolor #1e1e2e;
@define-color text  #cdd6f4;

* {
  all: unset;
  /* font-family: "Jetbrains Mono", monospace; */
  font-family: "SF Pro Display", monospace;
  font-weight: 600;
  font-size: 16px;
}

window {
  border-radius: 34px;
  margin: 2px;
  opacity: 0.9;
  background-color: @backgroundcolor;
  border: 2px solid @textcolor;
}

#outer-box {
  margin: 2px;
  padding: 8px;
  border-radius: 34px;
  background-color: #1e1e2e;
}

#input {
  border: none;
  background-color: #313244;
  border-radius: 1000px;
  padding: 6px;
  color: @bgcolor;
}

#input * {
  padding: 4px;
  margin: 4px;
}

#scroll {
  border-radius: 28px;
  margin-top: 8px;
  border: none;
  /* background-color: red; */
}

#text:selected {
  color: #1e1e2e;
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  opacity: 1;
}

#entry {
  /* border: 1px solid green; */
  border-radius: 8000px;
  padding: 4px;
  background-color: transparent;
}

#entry image {
  margin: 4px;
}

#entry:selected {
  opacity: 1;
  color: @backgroundcolor;
  background-color: @textcolor;
  outline: none;
}
