[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/btngana/Desktop/Rockstar Games Launcher.lnk]
row=3
col=0

[/home/btngana/Desktop/steam.desktop]
row=4
col=0

[C8AC29B2AC299C46]
row=0
col=0

[/]
row=1
col=0

[/home/btngana]
row=2
col=0

