/* @define-color textcolor #cba6f7; */
/* @define-color textcolor #89dceb	; */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 14px;
    min-height: 0;
}
#window {
    padding: 8px;
    color: #94e2d5	;
}

window#waybar {
    background: rgba(17, 17, 27,0.8);
    border-radius: 12px;
    color: #f4d9e1;
    border:2px solid #89dceb;
}



tooltip {
    border-radius: 10px;
    border: 10px solid #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
    border-radius: 10px;
}

#workspaces button.active {
    color: #94e2d5	;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: transparent;
    color: #89dceb;
} 
#custom-brightness,
#custom-spotify-title,
#custom-spotify-prev,
#custom-spotify-next,
#custom-spotify-toggle,
#custom-power_btn,
#custom-weather,
#custom-myhyprv,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    /* background: #1e1e2e; */
    opacity: 1;
    padding: 0 10px;
    /* margin: 0 12px; */
    /* margin: 3px 0px; */
    /* border: 1px solid #181825; */
}

#custom-power_btn{
    margin-right: 10px;
    color: #94e2d5	;

}

#clock {
    color: #89dceb	;

}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}


#window {
    color: #74c7ec;
    /* border-radius: 0 20px 20px 0 ; */
    /* margin-left: 60px; */
    /* margin-right: 60px; */
}

#bluetooth {
    color: #74c7ec;
    /* border-radius: 0px 20px 20px 0px; */
    /* margin-right: 10px */
} 
#network {
    color: #74c7ec;
    padding:0;
    /* border-radius: 20px 0px 0px 20px; */
    /* border-left: 0px; */
    /* border-right: 0px; */
}


#pulseaudio {
    color: #89b4fa	;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px 0 0 20px;
}

#pulseaudio.microphone {
    color: #89b4fa		;
    border-left: 0px;
    border-radius: 0;
    border-right: 0px;
    padding-left:0px;
}
#backlight{
    color:#89b4fa;
    /* padding:0; */
    /* margin-right: 10px; */
    /* border-radius: 0px 20px 20px 0px;
    padding-left:0px;
    border-left: 0px; */
}

/* #battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
} */
#custom-spotify-title{
    border-radius: 20px 0 0 20px;
}
#custom-spotify-next{
    border-radius: 0 20px 20px 0;
}
#custom-spotify-title,
#custom-spotify-prev,
#custom-spotify-next,
#custom-spotify-toggle{
    color: #89b4fa;
}
