/* @define-color textcolor #cba6f7; */
/* @define-color textcolor #89dceb	; */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 14px;
    min-height: 0;
}
#window {
    padding: 8px;
    /* margin-top: 10px; */
    color: #94e2d5	;
}

window#waybar {
    background: rgba(17, 17, 27,0.8);
    /* border-bottom: 1px solid #282828 */
    border-radius: 12px;
    color: #f4d9e1;
    /* margin:16px; */
    /* margin-top: 20px; */
    border:2px solid #89dceb;
    /* background: red; */
    /* color: #89dceb; */
}



tooltip {
    /* background: #1e1e2e; */
    border-radius: 10px;
    border: 10px solid #11111b;
    /* border-width: 2px;
    border-style: solid;
    border-color: #11111b; */
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
    border-radius: 10px;
}

#workspaces button.active {
    color: #89dceb;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    /* border-radius: 10px; */
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    /* border-radius: 10px; */
}

#workspaces button:hover {
    background: transparent;
    color: #89dceb;
    /* border-radius: 10px; */
} 
#custom-brightness,
#custom-spotify-title,
#custom-spotify-prev,
#custom-spotify-next,
#custom-spotify-toggle,
#custom-power_btn,
#custom-weather,
#custom-myhyprv,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    /* background: #1e1e2e; */
    opacity: 1;
    padding: 0px 12px;
    /* margin: 3px 0px; */
    /* border: 1px solid #181825; */
}

#custom-power_btn{
    /* border: 1px solid #181825; */
    /* border-radius: 20px; */
    margin-right: 10px;
    /* margin-left: 10px; */
    /* padding-left: 9px; */
    /* padding-right: 12px; */
    color: #f5c2e7	;
    /* text-align: center; */
}

#clock {
    color: #f38ba8	;
    /* border-radius: 20px; */
    /* margin-right: 10px; */
    /* border-right: 0px; */
}
/* close to left */
/* #temperature {
    border-radius: 20px 0px 0px 20px;
} */

/*close to the right */
/* #bluetooth, #custom-light_dark {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
} */
/* 
#temperature.critical {
    color: #eba0ac;
} */

#tray {
    color:#89dceb;
    /* border-radius: 20px; */
    /* padding: 0px 12px; */
    /* margin-right: 10px; */
}

#workspaces {
    border-radius: 20px 0 0 20px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

/* #custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
} */

#window {
    border-radius: 0 20px 20px 0 ;
    /* margin-left: 60px; */
    margin-right: 60px;
}

#network {
    color: #eba0ac	;
    /* border-radius: 20px 0px 0px 20px; */
    /* border-left: 0px; */
    /* border-right: 0px; */
}

#bluetooth {
    color: #eba0ac	;
    /* border-radius: 0px 20px 20px 0px; */
    /* margin-right: 10px */
} 

#pulseaudio {
    color: #f9e2af	;
    border-left: 0px;
    border-right: 0px;
    border-radius: 20px 0 0 20px;
}

#pulseaudio.microphone {
    color: #f9e2af	;
    border-left: 0px;
    border-radius: 0;
    border-right: 0px;
    padding-left:0px;
}
#backlight{
    color:#f9e2af;
    /* margin-right: 10px; */
    /* border-radius: 0px 20px 20px 0px;
    padding-left:0px;
    border-left: 0px; */
}

/* #battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
} */
#custom-spotify-title{
    border-radius: 20px 0 0 20px;
}
#custom-spotify-next{
    border-radius: 0 20px 20px 0;
}
#custom-spotify-title,
#custom-spotify-prev,
#custom-spotify-next,
#custom-spotify-toggle{
    color: #a6e3a1;
}
